body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	margin: 0 auto;
	padding: 20px;
	max-width: 600px;
	text-align: center;
}

table {
	margin: 0 auto;
	font-size: 2em;
	text-align: right;
}

td {
	padding: 5px;
}

p, button {
	font-size: 1.2em;
	text-align: center;
}

#summit-info {
	display: none;
}

input[type="number"] {
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid white;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
	border-radius: 10px; 
}
